<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="myClient" address="net.pipe://localhost/Calculator/CalculatorService" binding="netNamedPipeBinding" 
                contract="CalculatorContracts.ICalculator" bindingConfiguration="nonSecure" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="nonSecure">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>