<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Calculator.SimpleCalculator" behaviorConfiguration="mexEnabledServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Calculator/"/>
            <add baseAddress="http://localhost:8080/Calculator"/>
          </baseAddresses>
        </host>
        <endpoint address="CalculatorService" binding="netNamedPipeBinding" bindingConfiguration="nonsecure"  contract="CalculatorContracts.ICalculator" />
        <endpoint address="MEX"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="nonsecure">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexEnabledServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="MEX" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>