<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Calculator.SimpleCalculator">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Calculator/"/>
          </baseAddresses>
        </host>
        <endpoint address="CalculatorService" binding="netNamedPipeBinding" bindingConfiguration="nonsecure"  contract="CalculatorContracts.ICalculator" />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="nonsecure">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>